<!DOCTYPE html>
<html>
  <head>
    <title>Health Risk Assessment</title>
      <style>
        h1 {
      color: green;
      margin-left: 20px;
      }
    </style>
  </head>
<body>

<h1> Health Risk Assessment </h1>
    <h3>  Date of Birth: </h3>
      <h4><%= dob %></h4>

  <h3> Family Name: </h3>
   <h4><%= fn %></h4>

   <h3> First Name: </h3>
    <h4><%= na %></h4>

  <h3> Middle Name: </h3>
    <h4><%= mn %></h4>

  <h3> Home Address: </h3>
  <h4><%= addtype %></h4>
  <h4><%= addline %></h4>
  <h4><%= addcity %></h4>
  <h4><%= adddist %></h4>
  <h4><%= addpstcd %></h4>
